*{
    overflow: hidden;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(hk/img/nn.jpeg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.size{
    width: 300px;
    height: 300px;
}
.dd{
    display: inline;
}
.raw{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cal{
    flex-basis: 50%;
    min-width: 341px;
}
.future-img{
    width: 83%;
    margin: auto;
    position: relative;border-radius: 6px;
    overflow: hidden;
}
.small-img-raw{
    display: flex;
    background: #30c7e9;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 90%;
}
.small-img{
    position: relative;
}
.small-img img{
    width: 150px;
}
.small-img-raw p{
    margin-left: 20px;
    font-weight: bolder;
}
.play-btn{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 30px;
}
.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 84%;
    transform: translate(-50%, -50%);
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
.mentor{
    margin-top: 10%;
}
.mentor-text{
    margin-top: 20%;
}
.next{
    float: right;
}
.header-text{
    background: rgb(217, 245, 236);
}
@media(max-width: 700px){
    .video-player{
        width: 90%;
    }
    .future-img{
        display: none;
    }
}
.bg-linear{
    background: linear-gradient(70deg, #3e1da2, #F67E9c);
}

.mytext{
    background: linear-gradient(90deg, #3e1da2 ,#F67E9c, #3e1da2);
    -webkit-background-clip: text;
    color: transparent;
    display: block;
}
.login-boder-radius{
    border-radius: 10px;
}

