
*{
    overflow: hidden;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(hk/img/nn.jpeg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

